[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "third_party/aom"]
	path = third_party/aom
	url = https://aomedia.googlesource.com/aom
[submodule "third_party/fdk-aac"]
	path = third_party/fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "third_party/fribidi"]
	path = third_party/fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "third_party/harfbuzz"]
	path = third_party/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "third_party/libass"]
	path = third_party/libass
	url = https://github.com/libass/libass.git
[submodule "third_party/libvpx"]
	path = third_party/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "third_party/libwebp"]
	path = third_party/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "third_party/ogg"]
	path = third_party/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "third_party/opus"]
	path = third_party/opus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "third_party/theora"]
	path = third_party/theora
	url = https://gitlab.xiph.org/xiph/theora.git
[submodule "third_party/vorbis"]
	path = third_party/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "third_party/WavPack"]
	path = third_party/WavPack
	url = https://github.com/dbry/WavPack.git
[submodule "third_party/x264"]
	path = third_party/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "third_party/x265"]
	path = third_party/x265
	url = https://bitbucket.org/multicoreware/x265_git.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "wasm/tests/data"]
	path = wasm/tests/data
	url = https://github.com/ffmpegwasm/testdata.git
